# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
docs/_md/archivo_ejemplo/Formato Informe VProperty Enero2026.xlsm
docs/_artefactos/make/_backup/SC-RF09-ExtraccionClaude v2.0_backup_2026-09-04.json
